.dashBoardCard-container {
    width: 280px;
}

.dashBoardCard-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: right;
    padding-right: 10px;
}


.icon {
    width: 40px;
    height: 40px;
}

.dashBoardCard {
    background-color: var(--Darkblue);
    border-radius: 10px;   
}

.dashBoardCard-body:hover {
    background-color: var(--Desaturatedblue);
    cursor: pointer;
    border-radius: 10px;   
}

.dashBoardCard-body {
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
    margin: -10px 0px;
}

.dashBoardCard-title {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin: 15px 0px;
    color: #FFF;
}

.dashBoardCard-hours {
    margin: 10px 0px;
    color: #FFF;
    font-size: 2.7rem;
    font-weight: 300;
}

.dashBoardCard-last-time {
    margin: 10px 0px;
    color: var(--PaleBlue);
    font-size: 0.8rem;
}

.card-bottom{
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .card-bottom {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;
    }

    .dashBoardCard-hours {
        font-size: 2rem;
    }
}